<a href="https://colab.research.google.com/github/raihan-uddin2714/pathon_191-15-2714/blob/main/week_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
lst0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
print(lst0)
lst1=[]
print(lst1)
lst2=list()
print(lst2)
print(lst0[6])

[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3]]
[]
[]
python

In [2]:
lst0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
for i in lst0:
    print(i,end=' ')
print('')

1 2 3 32 2.23 43.23 python [2, 32, 3]

In [3]:
lst0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
for i in lst0:
  print(i,end= '\n ')
  print(' ')

1

2

3

32

2.23

43.23

python

[2, 32, 3]

In [5]:
lst0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]

print(len(lst0))                #len( ) gives the length of the list

lst0.append([12,2,12,2])        #append( ) inserts an element to the end of the list
print(lst0)

lst0.insert(2,"pandas")        
print(lst0)

lst0.remove(3)                  
print(lst0)

print(lst0.index("python"))                    

print(lst0.count('pandas'))     

print(lst0.reverse())           

lst1=lst0.copy()              
print(lst1)

lst0.clear()

8
[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3], [12, 2, 12, 2]]
[1, 2, 'pandas', 3, 32, 2.23, 43.23, 'python', [2, 32, 3], [12, 2, 12, 2]]
[1, 2, 'pandas', 32, 2.23, 43.23, 'python', [2, 32, 3], [12, 2, 12, 2]]
6
1
None
[[12, 2, 12, 2], [2, 32, 3], 'python', 43.23, 2.23, 32, 'pandas', 2, 1]

In [6]:
lst0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]

print(lst0[2:7])
print(lst0[2:])
print(lst0[:5])
print(lst0[:])

[3, 32, 2.23, 43.23, 'python']
[3, 32, 2.23, 43.23, 'python', [2, 32, 3]]
[1, 2, 3, 32, 2.23]
[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3]]

In [7]:
[3, 32, 2.23, 43.23, 'python']
[3, 32, 2.23, 43.23, 'python', [2, 32, 3]]
[1, 2, 3, 32, 2.23]
[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3]]

[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3]]

In [8]:
lst0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]

print(lst0[2:7])
print(lst0[2:])
print(lst0[:5])
print(lst0[:])

[3, 32, 2.23, 43.23, 'python']
[3, 32, 2.23, 43.23, 'python', [2, 32, 3]]
[1, 2, 3, 32, 2.23]
[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3]]

In [9]:
lst0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]

print(lst0[2:7])
print(lst0[2:])
print(lst0[:5])
print(lst0[:])

[3, 32, 2.23, 43.23, 'python']
[3, 32, 2.23, 43.23, 'python', [2, 32, 3]]
[1, 2, 3, 32, 2.23]
[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3]]

In [10]:
lst0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]

print(lst0[2:7])
print(lst0[2:])
print(lst0[:5])
print(lst0[:])

[3, 32, 2.23, 43.23, 'python']
[3, 32, 2.23, 43.23, 'python', [2, 32, 3]]
[1, 2, 3, 32, 2.23]
[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3]]

In [12]:
tp0=(1,2,3,32,2.23,43.23,"python",[2,32,3])
print(tp0)
tp1=()
print(tp1)
tp2=tuple()
print(tp2)

(1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3])
()
()

In [13]:
tp0=(1,2,3,32,2.23,43.23,"python",[2,32,3])
for i in tp0:
    print(i,end=' ')
print('')

1 2 3 32 2.23 43.23 python [2, 32, 3]

In [14]:
tp0=(1,2,3,32,2.23,43.23,"python",[2,32,3])
for i in tp0:
    print(i,end=' ')
print('')

1 2 3 32 2.23 43.23 python [2, 32, 3]

In [15]:
tp0=(1,2,3,32,2.23,43.23,"python",[2,32,3])
print(tp0[2])
print(tp0[6])
print(tp0[-2])
print(tp0[-7])

3
python
python
2

In [16]:
tp0=(1,2,3,32,2.23,43.23,"python",[2,32,3])
tp0+=("pandas",232,3,232,3)
print(tp0)

(1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3], 'pandas', 232, 3, 232, 3)

In [17]:
lst=[2,3,423,43]
a,b,c,d=lst
print(a)
print(b)
print(c)
print(d)

2
3
423
43

In [18]:
tp=(2,3,423,43)
a,b,c,d=tp
print(a)
print(b)
print(c)
print(d)

2
3
423
43