<a href="https://colab.research.google.com/github/raihan-uddin2714/pathon_191-15-2714/blob/main/week_1%2C2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

In [3]:
x=7
y=3
print(x+y)

10

In [4]:
total = x+y
print(total)

10

In [5]:
name = "Adam"
name2 = "Eva"
print(name , name2)

Adam Eva

In [6]:
x =10
type(x)

int

In [7]:
type(10.5)

float

In [9]:
type(name)

str

In [11]:
add = 10+15
print(add)

25

In [13]:
number1 = int(input('Enter first integer: '))
number2 = int(input('Enter second integer: '))
number3 = int(input('Enter third integer: '))

Enter first integer: 2
Enter second integer: 3
Enter third integer: 4

In [14]:
grade = 77

if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

C

In [15]:
number = 1

while (number<10):
  print(number, end=" ") #print in same line with space using end =" "
  number+=1

1 2 3 4 5 6 7 8 9

In [18]:
total = 0
for number in range(1000001):
  total = total+number

print(total)

500000500000

In [19]:
for i in range(1,11):
  print(number,"X",i,"=",number*i)

1000000 X 1 = 1000000
1000000 X 2 = 2000000
1000000 X 3 = 3000000
1000000 X 4 = 4000000
1000000 X 5 = 5000000
1000000 X 6 = 6000000
1000000 X 7 = 7000000
1000000 X 8 = 8000000
1000000 X 9 = 9000000
1000000 X 10 = 10000000

In [20]:
for left in range(7):
    for right in range(left,7):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [21]:
for number in range(10):
  if  number==5:
    break
  print(number, end=" ")

0 1 2 3 4

In [22]:
for number in range(10):
  if  number==5:
    continue
  print(number, end=" ")

0 1 2 3 4 6 7 8 9